@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.peopleCarouselImg img {
  width: auto;
  height: 400px;
  max-height: 400px;
  cursor:pointer
}

.img-hover-zoom {
  height: 350px; /* Modify this according to your need */
  overflow: hidden; /* Removing this will break the effects */
}

.img-hover-zoom {
  transform-origin: 0 0;
  transition: transform .25s, visibility .25s ease-in;
}

.img-hover-zoom:hover img {
  transform: scale(1.8);
}

.cakeDetails{
  border-radius: 10px !important;
}
.cakeDetailsImage{
  border-radius: 10px 0px 0px 10px!important;
  overflow: hidden !important;
}


/* Horizontal Zoom-n-pan Container */
.cakeDetailsImage img {
  transition: transform .5s ease-in-out;
  transform: scale(1.4);
  transform-origin: 100% 0;
}

/* The Transformation */
.cakeDetailsImage:hover img {
  transform: scale(1.5) translateX(30%) translateY(-10%);;
}


.icon{
  font-size: 20px !important;
}

.myClass{
  font-family: 'Cookie', cursive;
  font-size: 25px;
}
.head{
  color:#610163;
}
